@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Job Hunter</h1>
    <p class="lead">.NET web application to search, filter, and record job postings.</p>
    <p>@Html.ActionLink(HttpUtility.HtmlDecode("Start Search &raquo;"), "Search", "Home", null, new { @class ="btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search for Postings</h2>
        <p>
            Search from multiple job posting websites.  Choose which sites and what parameters
            to search.  Record postings and track recent positions added.  Combine into one search.
        </p>
        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Record your Applications</h2>
        <p>Keep track of your applications.  Record where, when, and what positions you've applied to.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Filter Positions</h2>
        <p>Add custom filter parameters to narrow down your search based on your own interests.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>