@{
    ViewBag.Title = "Search";
}

<div class="jumbotron">
    <h2>Job Search</h2>

    <div class="row">
       <div class="col-md-4">
           <p>Websites</p>
            <ul class="checkbox">
                <li><input type="checkbox" name="glassdoorCheck" value="glassValue" />Glassdoor</li>
                <li><input type="checkbox" name="indeedCheck" value="indeedValue" />Indeed</li>
                <li><input type="checkbox" name="handshakeCheck" value="handshakeValue" />Handshake</li>
                <li><input type="checkbox" name="careerbuilderCheck" value="careerbuilderValue" />CareerBuilder</li>
            </ul>
       </div>

       <div class="col-md-4">
           <p>Enter Search Terms</p>
           <p><input type="text" name="searchText" value="searchValue" /></p>
           <input type="button" value="Search" onclick="location.href='@Url.Action("ResultView", "Result")'" />
       </div>

    </div>
</div>



