@{
    ViewBag.Title = "Search";
}

<div class="jumbotron">
    <h2>Job Search</h2>
    <p class="lead">Choose Which Websites to Search</p>
    <ul class="checkbox">
        <li><input type="checkbox" name="glassdoorCheck" value="glassValue" />Glassdoor</li>
        <li><input type="checkbox" name="indeedCheck" value="indeedValue" />Indeed</li>
        <li><input type="checkbox" name="handshakeCheck" value="handshakeValue" />Handshake</li>
        <li><input type="checkbox" name="careerbuilderCheck" value="careerbuilderValue" />CareerBuilder</li>
    </ul>

    <p> 
        Testing
        <input type="button" value="test button" onclick="location.href='@Url.Action("About", "Home")'" />
    </p>
</div>


